<div class="container well">
    <div ng-cloak>
        <h3>Search</h3><br/>

        <div class="pub-length">{{pubSummaries.length}}
            publication{{pubSummaries.length > 1 ? 's':''}} found</div>
        <div class="pub-item" ng-repeat="pub in pubSummaries">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span class="pub-citation">{{pub.citation}}</span>
                </div>
            </div>
            <div class="row">
                <div ng-if="pub.doi || pub.pmid || pub.isbn || pub.url" class="col-xs-12 col-sm-12 col-md-12 pub-urls">
                    <span ng-if="pub.doi" class="pub-url"><a ng-attr-href="http://dx.doi.org/{{pub.doi}}"><span
                        class="glyphicon glyphicon-new-window"/>&nbsp;DOI</a></span>
                    <span ng-if="pub.pmid" class="pub-url"><a
                        ng-attr-href="http://www.ncbi.nlm.nih.gov/pubmed/{{pub.pmid}}"><span
                        class="glyphicon glyphicon-new-window"/>&nbsp;PubMed</a></span>
                    <span ng-if="pub.isbn" class="pub-url"><a
                        ng-attr-href="http://openisbn.com/isbn/{{pub.isbn}}"><span
                        class="glyphicon glyphicon-new-window"/>&nbsp;ISBN</a></span>
                    <span ng-if="pub.url" class="pub-url"><a ng-attr-href="{{pub.url}}"><span
                        class="glyphicon glyphicon-new-window"/>&nbsp;URL</a></span>
                </div>
            </div>
            <div class="row top-little-buffer">
                <div class="col-xs-12 col-sm-12 col-md-12"><span
                    class="ingredients-label">Remed{{keys(pub.remedies).length > 1 ? "ies" : "y"}} and tests</span>,
                    <span class="country-label">Country</span>:
                    <span class="country-value" ng-repeat="country in pub.countries">
                        {{country}}<span ng-if="!$last">,&nbsp;</span>
                    </span>
                </div>
            </div>

            <div class="row ingredients-item" ng-repeat="(rem, remTests) in pub.remedies">
                <summary publication="pub" rem-str="rem" rem-summary="remTests"></summary>
            </div>

            <div class="ingredients-length"
                ng-if="keys(pub.remedies).length">{{keys(pub.remedies).length}}
                remed{{keys(pub.remedies).length > 1 ? 'ies':'y'}} found</div>
        </div>

        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
