<div class="container well">
    <div ng-cloak>
        <h3>Search</h3><br/>

        <div class="pub-length">{{pubSummaries.length}}
            publication{{pubSummaries.length > 1 ? 's':''}} found</div>
        <div class="pub-item" ng-repeat="pub in pubSummaries">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <!--<a ui-sref="author.detail({id: {{author.id}}})">-->
                    <span class="pub-citation">{{pub.citation}}</span>
                </div>
                <div ng-if="pub.doi || pub.pmid || pub.isbn || pub.url" class="col-xs-12 col-sm-12 col-md-12 pub-urls">
                    <span ng-if="pub.doi"><a ng-attr-href="http://dx.doi.org/{{pub.doi}}"><span
                        class="glyphicon glyphicon-new-window"/>&nbsp;DOI</a></span>
                    <span
                        ng-if="pub.pmid"><a ng-attr-href="http://www.ncbi.nlm.nih.gov/pubmed/{{pub.pmid}}"><span class="glyphicon glyphicon-new-window"/>&nbsp;PubMed</a></span>
                    <span ng-if="pub.isbn"><a ng-attr-href="http://openisbn.com/isbn/{{pub.isbn}}"><span class="glyphicon glyphicon-new-window"/>&nbsp;ISBN</a></span>
                    <span ng-if="pub.url"><a ng-attr-href="{{pub.url}}"><span class="glyphicon glyphicon-new-window"/>&nbsp;URL</a></span>
                </div>
            </div>
            <div class="row top-little-buffer">
                <div class="col-xs-12 col-sm-12 col-md-12"><span class="ingredients-label">Ingredients and tests</span>,
                    <span class="country-label">Country</span>:
                    <span class="country-value" ng-repeat="country in pub.countries">
                        {{country}}<span ng-if="!$last">, </span>
                    </span>
                </div>
            </div>
            <div class="row ingredients-item" ng-repeat="(pi, piTests) in pub.plantIngredients">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 vertical-align">
                        <div class="row vertical-align">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                {{pi}}
                            </div>
                        </div>
                        <div ng-if="piTests.inVivo" class="row top-little-buffer">
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <span class="cat-test-tag-block" ng-if="piTests.inVivo">
                                    <span class="invivo-test-type">IN VIVO</span>
                                </span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 vertical-align">
                                <span class="cat-test-tag-block" ng-if="piTests.inVivoPeters">
                                    <span class="cat1-test-tag">PETERS</span>
                                </span>
                                <span ng-if="piTests.inVivoInhibition != null">
                                    <span class="test-value-label">Inhib.:</span>
                                    <span class="test-value">{{piTests.inVivoInhibition}} %</span>
                                </span>
                                <span ng-if="piTests.inVivoEd50 != null">
                                    <span class="test-value-label">ED50:</span>
                                    <span class="test-value">{{piTests.inVivoEd50}} mg/kg</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoRaneTest">
                                    <span class="cat1-test-tag">RANE&nbsp;TEST</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoRepository">
                                    <span class="cat1-test-tag">REPOSITORY</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoLiverStage">
                                    <span class="cat2-test-tag">LIVER&nbsp;STAGE</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoGametocyte">
                                    <span class="cat3-test-tag">GAMETOCYTE</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoOocyst">
                                    <span class="cat3-test-tag">OOCYST</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoSporozoite">
                                    <span class="cat3-test-tag">SPOROZOITE</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVivoToxicity">
                                    <span class="cat4-test-tag">TOXICITY</span>
                                </span>
                            </div>
                        </div>
                        <div ng-if="piTests.inVitro" class="row top-little-buffer">
                            <div class="col-xs-2 col-sm-2 col-md-2">
                               <span class="invitro-test-type">IN VITRO</span>
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10 vertical-align">
                                <span class="cat-test-tag-block" ng-if="piTests.inVitroErythocyt">
                                    <span class="cat1-test-tag">ERYTHROCYT</span>
                                </span>
                                <span ng-if="piTests.inVitroInhibition != null">
                                    <span class="test-value-label">Inhib.:</span>
                                    <span class="test-value">{{piTests.inVitroInhibition}} %</span>
                                </span>
                                <span ng-if="piTests.inVitroIc50 != null">
                                    <span class="test-value-label">IC50:</span>
                                    <span class="test-value">{{piTests.inVitroIc50}} &#181;g/ml</span>
                                </span>
                                <span ng-if="piTests.inVitroMolIc50 != null">
                                    <span class="test-value-label">IC50:</span>
                                    <span class="test-value">{{piTests.inVitroMolIc50}} &#181;mol/ml</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVitroLiverStage">
                                    <span class="cat2-test-tag">LIVER&nbsp;STAGE</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVitroGametocyte">
                                    <span class="cat3-test-tag">GAMETOCYTE</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVitroSporozoite">
                                    <span class="cat3-test-tag">SPOROZOITE</span>
                                </span>
                                <span class="cat-test-tag-block" ng-if="piTests.isInVitroToxicity">
                                    <span class="cat4-test-tag">TOXICITY</span>
                                </span>
                            </div>
                        </div>
                    </div><!-- comments for vertical align
                 --><div class="col-xs-12 col-sm-2 col-md-2 vertical-align ingredients-item-details-col">
                        <a ui-sref="database.detail({pubId: pub.id, piIds: piTests.plantIngredientsIds.join(',')})"
                           class="ingredients-item-details">
                            <span class="glyphicon glyphicon-zoom-in"/>&nbsp;Details</a>
                    </div>
                </div>
            </div>
            <div class="ingredients-length"
                ng-if="keys(pub.plantIngredients).length">{{keys(pub.plantIngredients).length}}
                plant{{keys(pub.plantIngredients).length > 1 ? 's':''}} found</div>
        </div>
                <!--<td>{{publication.doi}}</td>-->
                <!--<td>{{publication.pmid}}</td>-->
                <!--<td>{{publication.isbn}}</td>-->
                <!--<td><a href="{{publication.url}}">{{publication.url}}</a></td>-->
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
