<div class="container well">
    <h2>Publications</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="publication.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Publication</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Publication</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePublicationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(publication.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Publication?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>EntryType</th>
                    <th>Author(s)</th>
                    <th>Year</th>
                    <th>Title</th>
                    <th>Journal</th>
                    <th>Pages</th>
                    <th>Volume</th>
                    <th>Nb Of Volumes</th>
                    <th>Number</th>
                    <th>Book Title</th>
                    <th>Publisher</th>
                    <th>Edition</th>
                    <th>Conference Name</th>
                    <th>Conference Place</th>
                    <th>University</th>
                    <th>Institution</th>
                    <th>DOI</th>
                    <th>PMID</th>
                    <th>ISBN</th>
                    <th>URL</th>
                    <th>Compiler(s)</th>
                    <th>Compilers Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="publication in publications">
                    <td><a ui-sref="publication.detail({id:publication.id})">{{publication.id}}</a></td>
                    <td>{{publication.entryType}}</td>
                    <td>
                        <span ng-repeat="author in publication.authors">
                            <a ui-sref="author.detail({id: {{author.id}}})">{{author.family + '&nbsp;' +
                                author.given}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>{{publication.year}}</td>
                    <td>{{publication.title}}</td>
                    <td>{{publication.journal}}</td>
                    <td>{{publication.pages}}</td>
                    <td>{{publication.volume}}</td>
                    <td>{{publication.nbOfVolumes}}</td>
                    <td>{{publication.number}}</td>
                    <td>{{publication.bookTitle}}</td>
                    <td>{{publication.publisher}}</td>
                    <td>{{publication.edition}}</td>
                    <td>{{publication.conferenceName}}</td>
                    <td>{{publication.conferencePlace}}</td>
                    <td>{{publication.university}}</td>
                    <td>{{publication.institution}}</td>
                    <td>{{publication.doi}}</td>
                    <td>{{publication.pmid}}</td>
                    <td>{{publication.isbn}}</td>
                    <td><a href="{{publication.url}}">{{publication.url}}</a></td>
                    <td>
                        <span ng-repeat="compiler in publication.compilers">
                            <a ui-sref="compiler.detail({id: {{compiler.id}}})">{{compiler.family + '&nbsp;' +
                                compiler.given}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>{{publication.compilersNotes}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="publication.detail({id:publication.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="publication.edit({id:publication.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(publication.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
