<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 vertical-align">
        <div class="row vertical-align">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {{remStr}}
            </div>
        </div>
        <div ng-if="remSummary.inVivo" class="row top-little-buffer">
            <div class="col-xs-2 col-sm-2 col-md-2">
                            <span class="cat-test-tag-block">
                                <span class="invivo-test-type">IN VIVO</span>
                            </span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 vertical-align">
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoPeters">
                                <span class="cat1-test-tag">PETERS</span>
                            </span>
                            <span ng-if="remSummary.inVivoInhibition">
                                <span class="test-value-label">Inhib.:</span>
                                <span class="test-value">{{remSummary.inVivoInhibition}} %</span>
                            </span>
                            <span ng-if="remSummary.inVivoEd50">
                                <span class="test-value-label">ED50:</span>
                                <span class="test-value">{{remSummary.inVivoEd50}} mg/kg</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoRaneTest">
                                <span class="cat1-test-tag">RANE&nbsp;TEST</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoRepository">
                                <span class="cat1-test-tag">REPOSITORY</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoLiverStage">
                                <span class="cat2-test-tag">LIVER&nbsp;STAGE</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoGametocyte">
                                <span class="cat3-test-tag">GAMETOCYTE</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoOocyst">
                                <span class="cat3-test-tag">OOCYST</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoSporozoite">
                                <span class="cat3-test-tag">SPOROZOITE</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVivoToxicity">
                                <span class="cat4-test-tag">TOXICITY</span>
                            </span>
            </div>
        </div>
        <div ng-if="remSummary.inVitro" class="row top-little-buffer">
            <div class="col-xs-2 col-sm-2 col-md-2">
                <span class="invitro-test-type">IN VITRO</span>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 vertical-align">
                            <span class="cat-test-tag-block" ng-if="remSummary.inVitroErythrocyt">
                                <span class="cat1-test-tag">ERYTHROCYT</span>
                            </span>
                            <span ng-if="remSummary.inVitroInhibition">
                                <span class="test-value-label">Inhib.:</span>
                                <span class="test-value">{{remSummary.inVitroInhibition}} %</span>
                            </span>
                            <span ng-if="remSummary.inVitroIc50">
                                <span class="test-value-label">IC50:</span>
                                <span class="test-value">{{remSummary.inVitroIc50}} &#181;g/ml</span>
                            </span>
                            <span ng-if="remSummary.inVitroMolIc50">
                                <span class="test-value-label">IC50:</span>
                                <span class="test-value">{{remSummary.inVitroMolIc50}} &#181;mol/ml</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVitroLiverStage">
                                <span class="cat2-test-tag">LIVER&nbsp;STAGE</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVitroGametocyte">
                                <span class="cat3-test-tag">GAMETOCYTE</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVitroSporozoite">
                                <span class="cat3-test-tag">SPOROZOITE</span>
                            </span>
                            <span class="cat-test-tag-block" ng-if="remSummary.inVitroToxicity">
                                <span class="cat4-test-tag">TOXICITY</span>
                            </span>
            </div>
        </div>
    </div><!-- comments for vertical align
 --><div class="col-xs-12 col-sm-2 col-md-2 vertical-align ingredients-item-details-col">
    <a ui-sref="database.detail({pubId: publication.id, remId: remSummary.remedyId})"
       class="ingredients-item-details">
        <span class="glyphicon glyphicon-zoom-in"/>&nbsp;Details</a>
    </div>
</div>
