$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "custom-bootstrap";
// bower:scss
// endbower

// Google Font
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed:500|EB+Garamond);
$mpdbc-title-font: 'Cabin Condensed';
$citation-font: 'EB Garamond';

// Custom Mpdbc Icons
@font-face {
    font-family: 'mpdbc-icons';
    src: url('../styles/fonts/mpdbc-icons.eot?6n0q6m');
    src: url('../styles/fonts/mpdbc-icons.eot?6n0q6m#iefix') format('embedded-opentype'),
    url('../styles/fonts/mpdbc-icons.ttf?6n0q6m') format('truetype'),
    url('../styles/fonts/mpdbc-icons.woff?6n0q6m') format('woff'),
    url('../styles/fonts/mpdbc-icons.svg?6n0q6m#mpdbc-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mpdbc-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\e902";
}

.icon-users:before {
    content: "\e900";
}

.icon-twitter:before {
    content: "\e901";
}

/* End custom mpdbc icons */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.mpdbc-title {
    font-family: $mpdbc-title-font;
}

//.mpdbc-logo {
//    display: inline-block;
//    width: 300px;
//    height: 300px;
//    background: url("../images/mpdbc_animated-logo.gif") no-repeat center top;
//    background-size: contain;
//}

.container-fluid {
    padding: 0;
}

.carousel-slide img {
    width: 100%;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
}

.overlay .shadow {
    text-shadow: #7b5b5b 2px 2px;
}

#welcome-alert {
    margin-bottom: 0px;
}

#mpdbc-cloud {
    margin: 0 auto;
    width: 80%;
    height: 200px;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.presentation-img {
    display: block;
    margin: 10px auto 10px auto;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

[href^='mailto'] {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-brand > .mpdbc-title {
    font-size: 20px;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.navbar-brand > img {
    max-width: 100px;
    margin-top: -15px;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

/* make the pagination button a little more little */
.pagination > li > a, .pagination > li > span {
    padding: 7px 12px;
}

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */
/* Custom alerts for notification */
.alerts .alert{
    text-overflow: ellipsis;
}

.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}
/* end of Custom alerts for notification */

/* round buttons for icons */
.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
}

.hi-icon {
    display: inline-block;
    font-size: 28px;
    cursor: pointer;
    //margin: 15px 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: $blue2;
    padding: 9px 0 0 0;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon:before {
    line-height: 50px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/** icon animation **/
.hi-icon-effect-9 .hi-icon {
    -webkit-transition: box-shadow 0.6s;
    -moz-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s;
}

.hi-icon-effect-9 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    -moz-transition: -moz-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
}

.hi-icon-effect-9b .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.hi-icon-effect-9b .hi-icon:hover {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.4);
    color: $blue2;;
}

/* Distributed footer */
.footer-distributed {
    background-color: $green-lighter;
    font-size: 17px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    padding: 40px 50px 25px 50px;
}

.footer-distributed a {
    color: $blue2;
    text-decoration: none;
}

.footer-distributed a:hover {
    color: $blue2-darker;
}

.footer-distributed a.mpdbc-title {
    font-size: 20px;
    text-decoration: none;
    //margin-right : 35px;
}

#contact {
    margin-left: 30px;
    margin-right: 15px;
}

.footer-distributed .footer-centre > span {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed ul.footer-links {
    text-decoration: none;
    color: inherit;
    padding-left: 0px;
    padding-top: 5px;
}

.footer-distributed ul.footer-links > li {
    list-style-type: none;
}

.footer-distributed .footer-right {
    text-align: right;
    color: $blue2;
}

.footer-distributed .footer-right > span {
    margin-right: 15px;
}

@media (max-width: 767px) {

    .footer-distributed .row > div {
        text-align: center;
        margin: 0 auto 20px;
    }

    .presentation-img {
        text-align: center;
        margin: 15px auto 15px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-distributed .row > div {
        margin: 0 auto 20px;
    }
}
/* End of distributed footer */

/* Database part */

.pub-length {
    padding : 10px 0px;
    color : $blue2;
    font-style: italic;
}

.pub-item {
    padding: 10px 10px;
    margin: 0 10px 20px;
    border-left: 5px solid $blue2;
    background-color: #fff;
    padding-left: 10px;
}

.pub-citation {
    font-family: $citation-font, sans-serif;
    font-size: 17px;
}

.pub-urls {
    font-size: $font-size-smaller;
    margin-top: 5px;
}

.pub-url {
    margin-right: 10px;
}

.ingredients-item {
    padding: 5px 5px 0 5px;
    margin: 2px 10px 8px 20px;
    border-left: 5px solid $green;
}

.ingredients-item table td { //TODO adjust
    padding : 5px 5px 0 5px;
}

.ingredients-item-details {
    vertical-align:middle;
    font-size:large;
}

@media (max-width: 767px) {
    .ingredients-item-details-col {
        margin-top: 5px;
        text-align: center;
    }
}

.ingredients-length {
    font-size: $font-size-small;
    color: $green;
    font-style: italic;
}

.ingredients-label {
    font-weight: bolder;
    color: $green;
}

.country-label {
    font-size: $font-size-small;
}

.country-value {
    font-weight: bolder;
    font-size: $font-size-small;
}

.test-type {
    font-weight: bolder;
    font-size: $font-size-small;
    font-weight: bolder;
}

.invivo-test-type {
    @extend .test-type;
    margin-right: 10px;
}

.invitro-test-type {
    @extend .test-type;
    margin-right: 2px;
}

.test-value-label {
    font-size: $font-size-small;
    margin-left: 5px;
}

.test-value {
    font-weight: bolder;
    font-size: $font-size-small;
}

.cat-test-tag{
    background-color: black;
    color: white;
    font-size: $font-size-small;
    font-weight: bold;
    padding: 2px 8px 2px 8px;
    font-family: monospace;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .cat-test-tag-block{
        display: block;
    }
}

.cat1-test-tag {
    @extend .cat-test-tag;
    background-color: $green-lighter;
}

.cat2-test-tag {
    @extend .cat-test-tag;
    background-color: $orange2;
}

.cat3-test-tag {
    @extend .cat-test-tag;
    background-color: $blue1;
}

.cat4-test-tag {
    @extend .cat-test-tag;
    background-color: $red2;
}

h3 small {
    font-size: 75%;
    color: $gray-base;
}

.publication-label{
    font-weight: bolder;
    font-size: $font-size-small;
    color : $blue2;
}

.review-label{
    font-weight: bolder;
    color: $blue2;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: $font-size-large;
}

.btn-review-item{
    padding: 5px 2px;
}
.nav-pills > li.btn-review-item > a {
    padding: 5px 10px;
}
.nav-pills > .active.btn-review-item > a,
.nav-pills > .active.btn-review-item > a:hover,
.nav-pills > .active.btn-review-item > a:focus{
    background-color: $green-super-lighter;
    color: $green;
    font-weight: bold;
}

.pub-item .nav-tabs > li > a {
    padding: 5px 10px;
    font-size: $font-size-small;
}

.cat-properties-label {
    font-weight: bolder;
    font-size: $font-size-small;
    color: $green;
    margin-top: 5px;
}

.cat-properties-item {
    padding: 2px 5px 0 5px;
    margin: 2px 10px 8px 20px;
}

.properties-col {
    border-top: 2px solid $green-super-lighter;
}

.property-label {
    font-weight: bolder;
    font-size: $font-size-small;
    text-align: right;
}

.nav-tabs {
    border-bottom: 4px solid $green-super-lighter;
}

.top-buffer {
    margin-top: 10px;
}

.top-little-buffer {
    margin-top: 5px;
}

.top-big-buffer {
    margin-top: 30px;
}

.right-buffer {
    margin-right : 10px;
}
/* End of database part */
